body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  padding: 20px 2% 20px 2%;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  width: 96%;
  background: #fff;
  z-index: 2;
}

a {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  text-decoration: none !important;
  color: #666666;
}
a:hover {
  color: #1da1f2;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
.button {
  background-color: #1da1f2;
  color: #ffffff;
  border-radius: 999px;
  border: none;
  padding: 5px 15px;
  margin-left: 15px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.input-search {
  width: 500px;
  background-color: #eee !important;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 999px;
  font-size: 13px;
  padding: 10px 10px;
  text-indent: 20px;
  color: rgb(101, 119, 134);
}
input:active {
  color: #fff;
}
.input {
  position: relative;
}
.input i {
  position: absolute;
  left: 9px;
  top: 11px;
  font-weight: 300;
  color: rgb(101, 119, 134);
}
div {
  display: flex;
}

.direita {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: first baseline;
}
.container-direita {
  padding: 5px;
  display: flex;
}

.fade {
  margin: 5px;
  margin-right: 20px;
  border: 1px solid #1da1f2;
  border-radius: 99px;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #1da1f2;
}

.signin {
  margin: 5px;
  margin-right: 20px;
  border: 1px solid #1da1f2;
  border-radius: 99px;
  padding: 5px;
  color: #fff;
  background: #1da1f2;
  font-size: 15px;
  font-weight: 500;
}
.fas.fa-ellipsis-h {
  margin: 5px;
  margin-right: 20px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #1da1f2;
}
.left {
  background: transparent;
  color: #1da1f2;
  border: 1px solid #1da1f2;
  margin-right: 20px;
}

.container {
  display: flex;
  padding-top: 80px;
}
.container .div {
  flex: 1;
}
.div.div-2 {
  justify-content: flex-end;
}
.bar-right {
  max-width: 80%;
  max-height: 90%;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 15px 2%;
  margin: 15px 0px;
}
.form-login input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
}
.form-login input[type="text"],
.form-login input[type="password"] {
  background-color: rgb(230, 236, 240) !important;
  border: 0;
  border-bottom: 2px solid #666666;
  padding: 15px 0;
  text-indent: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
.form-login input[type="text"]:focus,
.form-login input[type="password"]:focus {
  border-color: #1da1f2;
  color: #1da1f2;
}
.form-login input[type="text"]:active,
.form-login input[type="password"]:active {
  border-color: #1da1f2;
}
.form-login input[type="submit"] {
  border: 1px solid #1da1f2;
  color: #1da1f2;
  background: #fff;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.form-login input[type="submit"]:hover {
  background-color: #1da1f2c4;
  border-color: transparent;
  color: #fff;
}
.forgot {
  font-size: 13px;
  text-decoration: none;
  line-height: 0;
  margin: 10px 0 10px 0;
  display: inherit;
}
.signup {
  border-radius: 20px;
  background: #1da1f2;
  color: #fff;
  width: 96%;
  display: inline-table;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
.bar-left {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #eee;
  padding: 15px 2%;
  margin: 0 15px 15px 15px;
  border-top: none;
}
.right-b {
  margin: 0, 5px;
  display: flex;
  justify-content: space-between;
  max-height: 10%;
  padding: 0;
}
.rightb {
  background: transparent;
  border: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bolder;
  font-size: 11px;
  justify-content: space-between;
  cursor: pointer;
  max-height: 100%;
  color: #666666;
  padding: 10px;
  margin-top: -12px;
}
.arrowright {
  font-size: 25px;
  color: #1da1f2;
}
.rightb:active {
  background-color: #1da1f2c4;
  border-color: transparent;
  transition: 500ms;
}
.rightb:focus {
  background-color: #eee;
  border-color: transparent;
  transition: 500ms;
}
.rightb:hover {
  background-color: #eee;
  border-color: transparent;
  transition: 500ms;
}
.explore {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
  padding-top: 0px;
}
.gear {
  display: inline-flex;
  background: transparent;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: #1da1f2;
  padding: 10px;
}
.gear:hover {
  background-color: #eee;
  transition: 500ms;
}
.explorer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  color: #1da1f2;
}
.arrow,
.rightb {
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.text {
  font-family: "Noto Sans KR", sans-serif;
}
.montanha {
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
  cursor: pointer;
}
.mont:hover {
  filter: brightness(50%);
  transition: 500ms;
}
.textoinf {
  position: absolute;
  bottom: 8px;
  left: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  z-index: 1;
  color: #fff;
}
.montanha.bar-left {
  flex-wrap: wrap;
  flex-direction: column;
}
.hash,
.montanha {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.news ul {
  display: flex;
  align-self: center;
}
.noti {
  border: 1px solid #e7edf1;
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  text-indent: 20px;
  line-height: 0px;
  background-color: white;
  cursor: pointer;
}
.news-header {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: lighter;
  color: #666666;
  font-size: 90%;
}
.news-body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  font-size: 100%;
}
.tweets {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: lighter;
  color: #666666;
  font-size: 90%;
}
.noti:hover {
  background-color: #e7edf1;
  transition: 500ms;
}
.logott {
  background-color: transparent;
  border: none;
  color: #1da1f2;
  font-size: 20px;
}

.under {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.input-search {
  background: transparent url(images/search.svg) left no-repeat;
  padding-left: 16px;
  background-size: 16px;
  background-position-x: 10px;
  display: flex;
}
.input-search {
  border: 1px solid rgb(29, 161, 242);
  border-radius: 999px;
  font-size: 13px;
  padding: 10px 10px;
  text-indent: 20px;
  width: 400px;
  color: rgb(101, 119, 134);
}

@media screen and (max-width: 1000px) {
  .direita {
    display: none;
  }
  .principal {
    justify-content: center !important;
  }
  .bar-right {
    display: none;
  }

  .bar-left {
    max-width: 100%;
    justify-content: center;
    width: 100%;
  }

  .div.div-2 {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .div {
    justify-content: center;
  }
  .container {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .div.div-2 {
    display: none;
  }

  .esquerdatopo {
    justify-content: center;
  }

  .input-search {
    max-width: 50%;
    max-height: 50%;
  }
}

@media screen and (max-width: 400px) {
}

.esquerdatopo {
  display: flex;
  align-items: center;
  flex: 1;
}

.fab.fa-twitter {
  color: #1da1f2;
  display: flex;
  padding-right: 10px;
}
.container-direita {
  justify-content: space-around;
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}
.principal {
  justify-content: space-between;
}
